@model Wunderlist.ViewModels.UserLoginModel

@section Content{
    @using (Html.BeginForm("LogOn", "Account", FormMethod.Post, new { @class = "form-logon" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div></div>

        <div class="field">
            <br />
            <img src="~/Content/email.png" alt="email" />
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { placeholder = "Электронная почта" } })
            @Html.ValidationMessageFor(model => model.Email, null, new { @class = "text-danger" })
        </div>

        <hr />

        <div class="field">
            <img src="~/Content/lock.png" alt="Password" />
            @Html.PasswordFor(model => model.Password, new { placeholder = "Пароль" })
            @Html.ValidationMessageFor(model => model.Password, null, new { @class = "text-danger" })
        </div>

        <hr />

        <div class="">
            <input type="submit" value="Вход" class="btn" />

            <div id="link">
                @Html.ActionLink("Забыли пароль?", "Register", "Account")
            </div>
        </div>
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


